
:root {
--bg-light: #C9E4CA; 
--text-dark: #364958; 
--font-main: 'Segoe UI', sans-serif;

--h1-bg: #87BBA2; 
--h1-text: #3B6064;
--h2-text: #55828B;
--h2-border: var(--h1-bg);
}

body { 
display: grid;
grid-template-areas:
"header nav"
"main main"
"footer footer";
grid-template-columns: 1fr 3fr;
grid-template-rows: 120px 1fr 60px;
}
header {
grid-area: header;
}

main {
grid-area: main;
}
footer {
grid-area: footer;
}

