:root { 
  --bg-light: C9E4CA;
    --tekst
body {
display: grid;
grid-template-areas:
"header nav"
"main main"
"footer footer";
grid-template-columns: 1fr 3fr;
grid-template-rows: 120px 1fr 60px;
}
header {
grid-area: header;
}
nav {
grid-area: nav;
}
main {
grid-area: main;
}
footer {
grid-area: footer;
}
