
:root {
--bg-light: #C9E4CA; 
--text-dark: #364958; 
--font-main: 'Segoe UI', parisienne static;

--h1-bg: #87BBA2; 
--h1-text: #3B6064;
--h2-text: #55828B;
--h2-border: var(--h1-bg);
}

body { 
display: grid;
grid-template-areas:
"header header"
"nav main"
"footer footer";
grid-template-columns: 1fr 5fr;
grid-template-rows: 30px 1fr 30px;
}
header {
grid-area: header;
background-color: #364958;
color: #87BBA2
}

nav {
    grid-area: nav;
background-color: #87BBA2;
color:#3B6064;
border: 4px solid var(--h2-text);
margin: 2px;
}

main {
grid-area: main;
background-color: #C9E4CA;
color: #364958;
border: 4px solid var(--h2-text);
margin: 2px;
}
footer {
grid-area: footer;
background-color: #364958;
color: #87BBA2;
}

